/Community.CsharpSqlite.SQLiteClient/Community.CsharpSqlite.SQLiteClient.v11.suo
/Community.CsharpSqlite/bin/Release
/Community.CsharpSqlite/obj/Release
/Community.CsharpSqlite.SQLiteClient/bin/Release
/Community.CsharpSqlite.SQLiteClient/obj/Release
